<div class="discrepancy-control-card">
    <div class="discrepancy-control d-none">
        <form class="discrepancy-form">
            <input name="id" type="hidden" value="" />
            <label>
                <span>Descripcion</span>
                <input class="form-control" name="description" type="text" value="" />
            </label>

            <button class="btn btn-info" data-action="update">💫 Actualizar</button>
            <hr />
            <button class="btn btn-warning" data-action="cancel">👈 Cancelar</button>
            <button class="btn btn-danger" data-action="delete">❌ Borrar</button>
        </form>
    </div>
</div>