<form>
    <div class="mb-3">
        <label class="form-label">Nombre</label>
        <input name="name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Descripción</label>
        <textarea name="description" rows="3" class="form-control"></textarea>
    </div>

    <div class="mb-3">
        <label class="form-label">Memoria Procedural</label>
        <select name="procedural_memory_id" class="form-control">
            <option disabled>Selecciona una opcion</option>
            {% for memory in procedural_memory %}
                 <option value="{{ memory.id }}">{{ memory.function_name }}</option>
            {% endfor %}
        </select>
    </div>

    <div class="mb-3">
        <label class="form-label">Tipo a evaluar</label>
        <input name="type" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label class="form-label">Valor a evaluar</label>
        <input name="value" type="text" class="form-control">
    </div>

    <input type="hidden" name="plan_id" value="{{ plan_id }}">
    <button type="button" class="btn btn-primary" data-action="create-action">✨ Crear acción</button>
</form>
